{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Regulamin {% endblock %}


{% block content %}
<div class="rules">
	<p>Regulamin:</p>
	<p>1. Obecność na Mumblach jest priorytetem i nie ma od niego ustępstw.</p>
	<p>2. Należy posiadać aktywne konto na stronie klanu.</p>
	<p>3. Wyższe rangi klanowe będą przyznawane zasłużonym graczom. Będzie można je zdobyć</p> <p> przez rekrutowanie nowych osób do klanu (statystyki nowych graczy określa dowódca).
	<p>&nbsp;&nbsp;&nbsp;&nbsp;Aby zdobyć rangę Żołnierza należy zwerbować 3 graczy.</p>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;Aby zdobyć rangę Dyplomaty należy zwerbować 6 graczy.</p>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;Aby zdobyć rangę Rekrutera należy zwerbować 10 graczy, oraz zobowiązać się</p> <p>&nbsp;&nbsp;&nbsp;&nbsp;do werbowania przynajmniej 1 osoby tygodniowo.</p>
	<p>4. Jeżeli wiadomo, że będzie się nieobecnym przeż dłuższy czas proszę napisać taką informacje</p> <p> na meil-a klantapir@gmail.com.</p>
	<p>5. Osoba, ktorej nie będzie, a nie zgłosiła wcześniej urlopu, zostaje usunięta z klanu.</p>
	<p>6. Urlop może trwać maksymalnie 2 tygodnie.</p>
	<p>7. Nie dostosowanie się do powyższych punktów wiąże się z usunięciem z klanu.</p>
</div>
<div class="rules">
	<p>Postanowienia:</p>
	<p>1. Konkurs "Bitwa tygodnia" będzie rozstrzygany w każdą niedziele i będzie polegał na wybraniu</p><p> najciekawszej powtórki z nadesłanych w ciągu tygodnia na e-mail: klantapir@gmail.com.</p>
	<p>2. Osoba, której powtórka zostanie wybrana na bitwę tygodnia dostaje +10 pkt, oraz jej</p> <p>powtórka zostanie umieszczona na klanowym kanale youtube.</p>
	<p>3. Inne ciekawe powtórki, którym nie uda się załapać na Bitwę tygodnia, a będzie można się z</p><p> nich czegoś ciekawego nauczyć, będą zamieszczane na klanowym kanale "wotreplays".</p>
	<p>4. Informacje na temat ilości punktów potrzebnych na uzyskanie nowych rang w klanie</p> <p>zostanie podana niebawem na stronie klanu (jak tylko uda mi się porozmawiać ze wszystkimi</p> <p>dowódcami).</p>
</div>
{% endblock %}