<!DOCTYPE html>
<html>
<head>
    <title>About page</title>
</head>
<body>
<article>
    <h1>JadeBusem information page</h1>
    <p>
        Jadę Busem is a portal that will be created for people that use private bus companies. Basically portal has one
        main
        function: to allow users the most accessible way to get information about routes that interest them.<br>

        Jadę Busem is a tool, where we can set places and houres, then we immidiately get the best company and route for
        us.<br>

        Jadę Busem is a project of Wiki, that allows ordinary users in an accessible way to enter and update data on
        schedules. The whole is done by sending photographs of scheduled to the portal.<br>

        An additional advantage of the portal is able to register the company. The company reserves the input schedules,
        which increases the credibility in the eyes of customers.<br>
    </p>
</article>
</body>
</html>