<html>
	<head>
		<title>Settings</title>
	</head>
	
	<body>    
		<form action="." method="post">
			<p><input type="email" name="email" value="{{ email }}" placeholder="E-mail" required> {{ email_error }}</p>
			<p><input type="password" name="password" value="{{ password }}" placeholder="New password"></p>
			<p><input type="password" name="password2" value="{{ password }}" placeholder="Re-type new password"> {{ password_error }}</p>
			<p><input type="text" name="first_name" value="{{ first_name }}" placeholder="First Name"></p>
			<p><input type="text" name="last_name" value="{{ last_name }}" placeholder="Last Name"></p>
			<p><input type="text" name="address" value="{{ address }}" placeholder="Address"></p>
			<p><input type="text" name="company_name" value="{{ company_name }}" placeholder="Company Name"></p>
			<p><input type="password" name="confirm" value="{{ password }}" placeholder="Type your password to confirm" size="28" required>
			<input type="submit" value="Save"> {{ confirm_error }}</p>
			{{ success }}
		</form>
	</body>
</html>